name: Deploy Frontend Dist to Server

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install & Build
        run: |
          npm install
          npm run build
          echo "==== dist content ===="
          ls -la dist
          echo "==== dist assets ===="
          ls -la dist/assets || true

      - name: Upload dist to Server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ubuntu
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "dist/**"
          target: "/home/ubuntu/pdf-toolkit/frontend/dist"
          overwrite: true

      - name: Check uploaded files on server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ubuntu
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "==== server dist content ===="
            ls -la /home/ubuntu/pdf-toolkit/frontend/dist
