name: Deploy Frontend Dist to Server

on:
  push:
    branches: ["main"]
    paths:
      - "public/**"
      - ".github/workflows/deploy-frontend.yml"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install and Build Frontend
        working-directory: public
        run: |
          npm install
          npm run build
          ls -la
          ls -la dist

      - name: Upload dist to Server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ubuntu
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "public/dist"
          target: "/home/ubuntu/pdf-toolkit/frontend"
          strip_components: 1
          overwrite: true

